section{
    background: $color2;
    //  linear-gradient(to bottom, #0856a2 0%, #3c108a 100%);
}
.text1{
    // padding-left: 7rem;
    // padding-right: 7rem;
    p{
        padding-top: 1rem;
    }
    button{
        margin-top: 2rem;
        // width: 180px;
        color: white;
        // height: 32px;
        // padding-right: 35px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 5px;
    }
}
.h1{
    height: 500px;
}

.row{
    h1{
        font-family: $font;
        font-weight: 800;
        font-size: 2.4rem;
    }
}

@media (min-width:992px) {
    .full-width{
        width: 64vw!important;
        margin-right: calc(-50vw + 100%)!important;
      }
    .width{
        width: 104%;
        height: 477px;
    }
}
