@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');



$font: 'Poppins', sans-serif;
$color1:#111111;
$btncolor:#0856A2;
$color2:linear-gradient(to bottom, #0856a2 0%, #3c108a 100%);
$color3:#3D348D;
$bordercol: #707070;
$fillcol:#999999;
$ftcol:#111111;